
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color: #284b63;
    --second-bg-color:#012030;
    --text-color:#DAFDBA;
    --main-color:#45C4B0;
}
html{
    font-size: 68.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1px 38px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    transition: .3s;
}

.header.sticky{
    background: var(--bg-color);
}
.logo{
    width: 120px;
    height: 80px;
    cursor: pointer;
}

.navbar a{
    color: var(--text-color);
    font-size: 1.7rem;
    margin-left: 3.4rem;
    font-weight: 500;
    transition: .3s ease-in-out;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
} 

#menu-icon{
    font-size: 3.6rem;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

section{
    min-height: 100vh;
    padding:10rem  9% 2rem;
}

.home{
    display: flex;
    align-items: center;
    padding: 0 6%;
    background: url("Untitled design.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.home-content{
    max-width: 60rem;
}

.home-content h1 span{
    color: var(--text-color);
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.1;
}

.home-content .text-animate{
    position: relative;
    width: 30.8rem;
}

.home-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px var(--main-color);
}

.home-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    width: 93%;
}

.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 96%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-weight:600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    font-size: 17px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover{
    color: var(--main-color);
}
.btn-box .btn:nth-child(2){
   background-color: transparent;
   color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover{
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before{
    background-color: var(--main-color);
}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width:0;
    height: 100%;
    background-color:var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before{
    width: 100%;
     
}

.home-sci{
    position: absolute;
    bottom: 2rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 26px;
    color: var(--main-color);
    z-index: 2;
    overflow: hidden;
    transition: .3s;
}

.home-sci a::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index:-1;
    background-color: var(--main-color);
    transition: .5s;
}

.home-sci a:hover{
    color: var(--bg-color);
}

.home-sci a:hover::before{
    width: 100%;
}

.home-imgHov{
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: var(--bg-color);
    opacity: .7;
    transition: 5s;
}

.home-imgHov:hover{
    background: transparent;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom:6rem;
}

.heading{
    font-size:5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img{
    width: 80%;
    border-radius: 50%;
    border: .2 solid var(--main-color);
    opacity: .7;
}

span{
    color: var(--main-color);
}

.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50% , -50%) rotate(0) ;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}

.about-content{
    text-align: center;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns{
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before{
     background: var(--second-bg-color);
}

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;

}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education .education-column{
    flex: 1 1 40rem;
}

.education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box{
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--main-color);
}

.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 0;
    height: 100%;
    background:var(--second-bg-color);
    z-index:-1;
    transition: width .5s;
}

.education-content .content:hover::before{
    width: 100%;
    opacity: 0.4;
}

.education-content .content .year{
    font-size: 1.5rem;
    color:var(--main-color);
    padding-bottom: .5rem;
}

.education-content .content .year i{
    padding-right: .5rem;
}

.education-content .content h3{
    font-size: 1.6rem;
}

.education-content .content p{
    font-size: 1.3rem;
    padding-top: .5rem;
}


.skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
}

.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills .skills-column{
    flex: 1 1 40rem;
}

.skills-column .title{
    font-size: 2.5rem;
    margin: 0 0 0 1.5rem;
}

.skills-box .skills-content{
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem ;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    opacity: .2;
    transition: width .5s;
}

.skills-box .skills-content:hover:before{
    width: 100%;
  
}

.skills-content .progress{
    padding: 1rem 0;
}

.skills-content .progress h3{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span{
    color: var(--text-color);
}

.skills-content .progress .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span{
    display: block;
    height: 100%;
    background: var(--main-color);
    border-radius: .3rem;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 87%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 75%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 64%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span{
    width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 87%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 75%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 64%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span{
    width: 90%;
}

.contact{
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input ,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.3rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    position: relative;
}

.contact form .input-box .input-field input::placeholder ,
.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);
}

.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: .6rem;
    background: var(--second-bg-color);
    opacity: .4;
    transition: .5s;
    z-index: -1;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus ,
.contact form .textarea-field textarea:focus~ .focus,
.contact form .textarea-field textarea:valid~ .focus{
    width: 100%;
}

.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea{
    resize: none;
}

.contact form .btn-box.btns .btn{
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-icon{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .3rem .5rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .4rem ;
}

.footer-icon a i{
    font-size: 2rem;
    color: var(--bg-color);
}
/* ===========================
     RESPONSIVE DESIGN
   =========================== */

/* --- Tablets (max-width: 992px) --- */
@media (max-width: 1024px) {

    header {
        padding: 15px 25px;
    }
    .home-imgHov{
        display: none;
    }
    .home-content p{
        width: 80%;
    }
    .navbar a {
        font-size: 15px;
        margin-left: 25px;
    }

    .text-box h1 {
        font-size: 45px;
    }

    .text-box h5 {
        font-size: 20px;
    }

    .text-box p {
        width: 90%;
        font-size: 16px;
    }
}

/* --- Mobile (max-width: 768px) --- */
@media (max-width: 768px) {

    /* Navbar */
    #menu-icon {
        display: block;
        font-size: 32px;
        color: white;
        cursor: pointer;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background: transparent;
        backdrop-filter: blur(5px);
        padding: 20px;
        flex-direction: column;
        text-align: center;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        display: block;
        margin: 10px 0;
        font-size: 20px;
        color: #ffffff;
    }

    .home-imgHov{
        display: none;
    }
    .home h1{
        font-size: 32px;
    }
    .home p{
        font-size: 14px;
        width: 100%;
    }

    .text-box h1 {
        font-size: 38px;
    }

    .text-box h5 {
        font-size: 18px;
    }

    .text-box p {
        font-size: 15px;
        width: 100%;
    }

    .btn-group a {
        padding: 10px 20px;
        font-size: 15px;
    }
}

/* --- Small Mobile (max-width: 480px) --- */
@media (max-width: 480px) {

    header {
        padding: 10px 20px;
    }
    .home h1{
        font-size: 30px;
    }
    .btn-box{
        width: 28rem;
        display: flex;
        justify-content:space-between;
    }
    .btn{
        width: 13rem;
    }
    .home-sci{
        width: 140px;
        bottom: 9rem;
        left: 31%;
    }
    .text-box h1 {
        font-size: 30px;
        line-height: 1.3;
    }

    .text-box h5 {
        font-size: 16px;
    }

    .text-box p {
        font-size: 14px;
    }

    .btn-group a {
        padding: 8px 18px;
        font-size: 14px;
    }

    .logo {
        width: 120px;
    }
}

@media (max-width: 310px){
   .btn{
    width: 44px;
   }
}